/*----------Fonts----------*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/*----------Set Up----------*/
body{
    background-color: #fafafa;
    color: black;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    /* text-align: center; */
}

p {
    font-size: 23px;
}

.space{
    margin-top: 10px;
}
/*----------Navbar----------*/
/*navbar*/
.navbar-container{
    /* position: sticky !important; */
    top: 0;
    z-index: 1000; 
}

/*navbar background color*/
.nb-background-color{   
    background-color: #f4b8da;
    z-index: 1000; /* Ensure navbar stays on top */
    top: 0;
    /* position: sticky !important; */
}

/*links in navbar*/
.nav-list-item a{
    color: #ffffff !important;
    font-size: 22px;
}

/*hovering animation*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: transform 0.35s ease-out;
}

/*Scrolled*/
.nb-background-color.scrolled .hover-underline-animation:after {
    background-color: #ffffff;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
}

.nb-background-color.scrolled .hover-underline-animation:hover:after {
    transform: scaleX(1);
}

/*logo*/
.nav-image{
    height: 60px;
    width: auto;
    margin-top: -10px; /* Moves the image 20px up */
    padding-left: 15px;
}

/*navbar items*/
.nav-item a{
    font-family: "League Spartan", sans-serif;
    font-size: 25px;
    margin-right: 20px;
    color: #a5515e;
}

.nav-item:hover a{
    font-family: "League Spartan", sans-serif;
    font-size: 25px;
    margin-right: 20px;
    color: #a5515e;
}

.nb-background-color.scrolled .nav-item a{
    font-family: "League Spartan", sans-serif;
    font-size: 25px;
    margin-right: 20px;
    color: white;
}

/*navbar menu button*/
.nav-item button{
    font-family: "League Spartan", sans-serif;
    font-size: 25px;
}

/*hamburger*/
button.navbar-toggler {
    background-color: #f4b8da
}

/*----------Footer----------*/
.footer{
    background-color: #f4b8da;   
}

/*button leading to top of page*/
.footer-icon{
    font-size: 40px;
    color: #f07efb;
}

.footer-icon:hover{
    color: #bc60c4;
    transform: scale(1.15);
    transition: 0.2;
}

/*----------Home Page----------*/
.image-background{
    height: calc(100vh - 80px);
    background-image: url("img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
}

.image-text{
    color: white;
    text-align: center;
}

.image-text h1{
    font-size: 90px;
}

.image-text h3{
    font-size: 30px;
}

.feminism-text h1{
    font-size: 60px;
}

.background{
    /* width: 700px;
    min-height: 420px; */
    width: 100%;
    max-width: 550px;
    min-height: 350px;
    
    background: #dca1a1;
    border-radius: 25px;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-size{
    object-fit: cover;
    object-position: top center;
    height: 100%;
    width: 100%;
}

.overview-text{
    padding-left: 30px;
}

.overview-text-sports{
    padding-left: 30px;
    padding-right: 20px;
}